* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/*Header page*/

.header {
    background-image: url(./assets/images/hero-bg.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header_container {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
}

.header_container__title {
    font-weight: 700;
    font-size: 54px;
    margin-bottom: 50px;
}

.header_container__logo {
   margin-bottom: 90px;
}

.svg {
    width: 80px;
    height: 90px;
}

.header_container__description {
    line-height: 2;
    font-size: 15px;
}


/*Blocks*/

.article {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.fieldset {
    text-align: center;
    width: 100%;
    max-width: 900px;   
}

.fieldset_legend {
    font-size: 34px;
    text-transform: uppercase;
    padding: 0 106px;
}

.fieldset_text {
    line-height: 2;
    margin: 0 auto;
    padding: 60px 0 30px 0;
    max-width: 550px;
    font-size: 16px;
}

.article_background {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(./assets/images/services.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.white {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.fieldset_icon {
    padding-top: 100px;
    padding-bottom: 30px;
}

.fieldset_title {
    font-size: 34px;
    text-transform: uppercase;
}

/*Button*/

.button {
    padding-bottom: 50px ;
}

.button_inner{
    width: 400px;
    height: 60px;
    color: rgb(255, 255, 255, 0.5);
    text-transform: uppercase;
    background-color: rgb(44, 43, 43);
    border: none;
}

.button_inner:hover {
    background-color: rgb(75, 74, 74);
    color: rgb(255, 255, 255);
}

/*Gallery*/

.gallery {
    display: flex;
    flex-flow: row wrap;
    
}

.gallery_link {
    height: 240px;
    display: flex;
    flex: 1 30%;
    padding: 5px; 
}

.gallery_link__inner {
    display: flex;
    min-width: 100%;
}

.size {
    flex: 2 40%;
}

.gallery_link__title>a {
    text-transform: uppercase;
    position: relative;
    top: 80%;
    left: 20%;    
    color: rgb(255, 255, 255);
    font-size: 32px;
}
.link--01 {
    background-image: url(./assets/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.link--02 {
    background-image: url(./assets/images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.link--03 {
    background-image: url(./assets/images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.link--04 {
    background-image: url(./assets/images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.link--05 {
    background-image: url(./assets/images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.link--06 {
    background-image: url(./assets/images/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    opacity: 0.7;
}