* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

.title_section {
   text-transform: uppercase;
}

/*Header*/
.header_wrapper {
    padding-top: 140px;
}

.title_top {
    font-size: 12px;
    color:#a7abb3;
}
.title_center .title_section {
    padding: 35px 0 45px 0 ;
    font-size: 48px;
    color: #0ec8cb;
}

.title_text {
    width: 505px;
    margin: 0 auto;
}

.title_text .title_section {
    font-size: 18px;
    color:#999;
    font-family: 'PT Sans', sans-serif; 
    padding-bottom: 100px;
}

/*Main*/
.main_wrapper {
    width: 960;
    max-width: 100%;
    margin: 0 auto;
}

.list {
    font-size: 0;
    padding-bottom: 100px;
}
.item {
    width: 25%;
    height: 420px;
    display: inline-block;
    font-size: 32px;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
    vertical-align: middle;
    transition: all .2s ease-in;
}

.icon-wraper {     
    display: inline-block;
    vertical-align: middle;
}

.item-icon-wraper {
    height: 150px;
    text-align: center;
}

.center_for_svg {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.item-title {
    text-align: center;
    font-size: 21px;
    color: #292929;
    text-transform: uppercase;
}

.item-text {
    font-size: 14px;
    color: #777;
    padding: 30px 30px 85px;
    text-align: justify;  
}

/*hover*/
.item:hover {
    background-color: #0ec8cb;
}

.item:hover * {
    color: #fff;
}
