header {
    height: 50px;
    background: white;
}
h1 {
    background: rgb(165, 42, 42);
    color: white;
    text-align: center;
}
body {
    width:759px;
    margin: 0 auto;
}
p {
    font-size: 18px;
}
.curve_span {
    font-style: italic;
}
.bold_span {
    font-weight: bold;
}
.blue_span {
    color: blue;
}
.picture {
    text-align: center;
}
.border {
    padding-bottom: 3px;
    border: 3px rgba(0, 0, 0) dashed ;
   }
.copyright {
    background-color: rgb(0, 0, 0);
}
.copyright p {
    padding: 3px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
