/* line 9, super-style.scss */
.section, .section__inner--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* line 16, super-style.scss */
.header__description, .section__description {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

/* line 21, super-style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 27, super-style.scss */
img {
  max-width: 100%; }

/* line 31, super-style.scss */
.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px; }

/* line 38, super-style.scss */
.header {
  padding: 40px 5px 0 5px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center; }
  /* line 44, super-style.scss */
  .header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffcc00; }
  /* line 51, super-style.scss */
  .header__description {
    color: #666; }
  /* line 56, super-style.scss */
  .header__hr {
    color: #ffcc00;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    max-width: 100%;
    height: 80px;
    margin: 0 auto; }
    /* line 67, super-style.scss */
    .header__hr:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 205px;
      max-width: 50%;
      height: 1px;
      background-color: #ffcc00; }
    /* line 78, super-style.scss */
    .header__hr:after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 205px;
      max-width: 50%;
      height: 1px;
      background-color: #ffcc00; }

/* line 91, super-style.scss */
.main {
  display: flex;
  font-size: 0;
  flex: 1; }

/* line 97, super-style.scss */
.vhr {
  border-left: 1px solid #ffcc00; }

/* line 101, super-style.scss */
.section {
  text-align: center;
  width: 50%;
  font-size: 14px;
  padding: 40px 5px; }
  /* line 108, super-style.scss */
  .section__inner--left {
    display: flex;
    align-items: center; }
    /* line 112, super-style.scss */
    .section__inner--left .prev {
      width: 80px; }
      /* line 115, super-style.scss */
      .section__inner--left .prev i {
        font-size: 30px;
        color: #ffcc00;
        transition: all 0.2s linear; }
        /* line 120, super-style.scss */
        .section__inner--left .prev i:hover, .section__inner--left .prev i:active, .section__inner--left .prev i:focus {
          color: #666;
          cursor: pointer;
          font-size: 32px; }
    /* line 130, super-style.scss */
    .section__inner--left .image {
      position: relative;
      border: 1px solid #ffcc00; }
      /* line 134, super-style.scss */
      .section__inner--left .image__border {
        position: absolute;
        width: 100px;
        height: 100px; }
        /* line 139, super-style.scss */
        .section__inner--left .image__border--tl {
          top: -15px;
          left: -15px;
          border-left: 1px solid #ffcc00;
          border-top: 1px solid #ffcc00; }
        /* line 146, super-style.scss */
        .section__inner--left .image__border--tr {
          top: -15px;
          right: -15px;
          border-right: 1px solid #ffcc00;
          border-top: 1px solid #ffcc00; }
        /* line 153, super-style.scss */
        .section__inner--left .image__border--bl {
          bottom: -15px;
          left: -15px;
          border-left: 1px solid #ffcc00;
          border-bottom: 1px solid #ffcc00; }
        /* line 160, super-style.scss */
        .section__inner--left .image__border--br {
          bottom: -15px;
          right: -15px;
          border-right: 1px solid #ffcc00;
          border-bottom: 1px solid #ffcc00; }
  /* line 170, super-style.scss */
  .section__inner--right {
    justify-content: space-between;
    height: 100%;
    max-width: 430px;
    padding: 0 5px; }
  /* line 180, super-style.scss */
  .section__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700; }
  /* line 186, super-style.scss */
  .section__title--hr {
    width: 100px;
    height: 1px;
    background-color: #ffcc00;
    margin: 0 auto; }
  /* line 193, super-style.scss */
  .section__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px; }

/* line 203, super-style.scss */
.next {
  display: flex;
  align-items: center; }
  /* line 207, super-style.scss */
  .next i {
    font-size: 30px;
    color: #ffcc00;
    transition: all 0.2s linear; }
    /* line 212, super-style.scss */
    .next i:hover, .next i:active, .next i:focus {
      color: #666;
      cursor: pointer;
      font-size: 32px; }

/* line 222, super-style.scss */
.social {
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 227, super-style.scss */
  .social__item {
    width: 30px;
    height: 30px;
    border: 2px solid #666;
    border-radius: 50%;
    margin: 2px;
    transition: all 0.3s linear; }
    /* line 235, super-style.scss */
    .social__item:hover, .social__item:active, .social__item:focus {
      border: 2px solid #ffcc00;
      outline: none; }
      /* line 241, super-style.scss */
      .social__item:hover i, .social__item:active i, .social__item:focus i {
        color: #666; }
    /* line 246, super-style.scss */
    .social__item i {
      padding: 6px;
      color: #666; }

/* line 253, super-style.scss */
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  padding: 5px 15px; }
  /* line 261, super-style.scss */
  .button:hover, .button:active, .button:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); }

/* line 268, super-style.scss */
.item-radio {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 40px auto; }
  /* line 274, super-style.scss */
  .item-radio__btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    transition: all 0.2s linear; }
    /* line 282, super-style.scss */
    .item-radio__btn--active {
      border: 1px solid #ffcc00;
      background-color: white; }
    /* line 287, super-style.scss */
    .item-radio__btn:hover, .item-radio__btn:active, .item-radio__btn:focus {
      width: 13px;
      height: 13px;
      box-shadow: 0 0 2px 2px #ffcc00;
      cursor: pointer;
      outline: none; }
