* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 1200px;
    margin: 50px auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*Header*/

.header {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.header_title {
    padding-top: 90px;
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.70;
}

.header_title__line {
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    margin: 10px auto;
}

.header_description {
    padding-top: 45px;
    padding-bottom: 70px;
    font-size: 17px;
    opacity: 0.70;
}

/*Item block*/
.container {
    display: flex;
}

.container_item {
    display: flex;
    flex: 1 0 auto;
    max-width: 25%;
    height: 270px;
    padding: 15px;
}

.container_item__img {
    display: block;
    position: relative; 
}

.container_item__hover {
    display: none;
}

.container_item__hover__icon {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 42px;
    height: 42px;
    background-color: #6bbccf;
    transition: all 0.2s ease-out;
}

/*Footer*/

.footer {
    position: relative;
    top: 120%;
    right: 100%;
    text-transform: capitalize;
    white-space: nowrap;
}

.footer_name {
    font-size: 18px;
    font-weight: 700;
    color: #282528;
    transition: all 0.5s ease-in-out;
}

.footer_position {
    font-size: 14px;
    opacity: 0.70;
}

/*hover*/

.container_item__img:hover .container_item__hover {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(44, 168, 198, 0.5);
    transition: all 0.5s ease-out;
}

.container_item__hover__icon:hover {
    background-color: #3a94cf;
    border: 2px solid #ffffff;
}










