* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen Mono';
}

body {
    height: 100vh;
}

ul, li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.slider {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #111a28;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.80);
}

/*Section left*/

.slider_section__left {
   width: 50%;
}

.section_left__img {
    padding-top: 100px;
}

.section_left__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 100px;
}

.button:hover {
    cursor: pointer; 
}

.button {
    margin: 5px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.button--darkblue{
   background: #171533;
}

.button--white {
    background: #fff;
}

.button--red {
    background: #ed3333;
}

.button--blue {
    background: #29e3ea;
}

/*Section right*/

.slider_section__right {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 40%;
    color: white;
    text-transform: capitalize;
}

.section_right__name {
    font-size: 24px;
    opacity: 0.7;
    padding-top: 75px;
}

.section_right__description {
    font-size: 14px;
    opacity: 0.5;
    padding-top: 18px;
}

/*Rating*/

.section_right__rating {
   padding-top: 25px;
}

.section_right__rating--item {
    float: left;
    font-size: 17px;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    transition: all 0.1s;
}
  
.section_right__rating:hover .section_right__rating--item {
    color: yellow;
    opacity: 1;
}

.section_right__rating--item:hover {
    transform: scale(1.05);
}
  
.section_right__rating--item:hover ~ .section_right__rating--item {
    color:white;
    opacity: 0.5;
}

/*Form*/

.section_right__form {
    padding-top: 25px;
 }

.form__size, .form__qty {
    width: 69px;
    height: 32px;
    padding: 5px;
    background: #111a28;
    border: 1px solid #4f5560;
    color: #4f5560;
    font-size: 14px;
}

.form__button {
    width: 100%;
    height: 40px;
    margin-top: 26px;
    background: #202835;
    border: 1px solid #4f5560;
    color: #4f5560;
    font-size: 14px;
}