body {
margin: 0;
padding: 0;
}
* {
font-family: 'Open Sans';
}
.bodyf {
height: 420px;
background-color: black;
}
.footer_text {
padding-top: 120px;
text-align: center;
}
.WE_ARE_SOCIAL {
font-size: 20px;
color: rgb(255, 255, 255);
padding: 45px 15px 10px;
}
hr {
width: 230px;
}
ul {
  padding-inline-start: 0px;
}
ul>li {
  display: inline-block;
  padding: 5px 15px 70px;
} 
.signature {
font-size: 15px;
color: rgb(255, 255, 255);
}
.kasper {
color: rgb(0, 201, 252);
}
