.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    @include center;

    @include tablet {
        display: block;
    }
}

.section_first {
    background-image: url(../images/image_1.jpg);
    @include background-image;
        
}

.section_second {
    background-color: #333333;
    padding: 100px 0 90px;
}

.section_third {
    background-image: url(../images/image_4.jpg);
    @include background-image;
    
}

.section_fourth {
    background-image: url(../images/image_5.jpg);
    @include background-image;
    
}

.section_fifth {
    background-image: url(../images/image_6.jpg);
    @include background-image;
    
}

.container_block {
    width: 50%;
    margin: 120px 0 100px 0;
    padding: 30px;

    @include tablet {
        width: 100%;
        margin: 0;
    }

     
    &__title {
        text-transform: capitalize;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 300;
        padding-bottom: 65px;
    }

    &__title--small {
        text-transform: uppercase;
        font-family: 'Aleo', serif;
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 30px;
    }

    &__discription {
        padding-bottom: 35px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        opacity: 0.7;
        
        i {
        color: $main-color;
        padding: 10px;
        }
    }

    &__subtitle {
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        padding-bottom: 30px;
        text-transform: capitalize;
    }
}

.btn {
    border: none;
    color: #ffffff;
    font-family: 'Aleo', serif;
    background: linear-gradient(45deg,  #496bfe 50%,#5474fd 50%);
    padding: 25px;
    min-width: 225px;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background: #333333;
        box-shadow: 2px 2px #ffffff;
    }
}

.images {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .image__first {
        padding: 5px;
        max-width: 350px;
        max-height: 220px;
    }

    .image__second {
        padding: 5px;
        max-width: 350px;
        max-height: 220px;
        align-self: flex-end;
    }
}



.icon {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    
    &_item {
        margin: 0 auto;
        text-align: center;
        
        svg {
            height: 62px;
            width: 62px;
        }
        
        &__title {
            font-family: 'Aleo', serif;
            font-size: 36px;
            font-weight: 300;
            padding-top: 30px;
            text-transform: capitalize;

            @include mobile {
                font-size: 24px;
            }
        }
    }
}

.background {
    background-color: rgba(49, 49, 49, 0.9);
}

.container_feedback {
    padding: 120px 0 100px 0;
    display: flex;
    flex-direction: column;

    

    &__title {
        text-transform: capitalize;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 300;
        padding-bottom: 100px;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        background-color: rgba(49, 49, 49, 0.9);
        
        @include tablet {
        flex-flow: column wrap;
        padding: 5px;
        } 

        .feedback__image {
            min-width: 445px;
                       
            @include tablet {
                min-width: 350px;
            } 

            @include mobile {
                min-width: 250px;
            }
        }

        .feedback__inner {
            padding: 60px;
        }
    }
}





