* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
}
body {
    background-color: #333;
}
h2, h3 {
    color:#ba777d;
    margin: 0;
    text-align: center;
}
ul {
    width: 500px;
    margin: 20px auto;
}
ul li {
    list-style-type: none;
    font-size: 14px;
    padding: 7px 5px;
    color: #fff;
}
li:nth-child(odd) {
    background-color: #878191;
}
li:nth-child(even) {
    background-color: #797086;
}
.header_container {
    padding: 12px 0;
    background-color: #535353;
    text-align: center;
}
.add_info {
    font-size: 11px;
}
.add_info:before {
    content: "( ";
}
.add_info:after {
    content: ") ";
}
li:hover {
    background-color: #514b59;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
li:active {
    background-color: #dbb0ad;
}
input[type=checkbox]:checked+label{
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5);
}
.footer_container {
    background-color: #535353;       
}